body{
	margin: 0;
}

.container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	align-items: center;
}

.header{
	width: calc(100% - 28px);
	background-color: #F5F4F2;
	height: 786px;
	border-radius: 16px;
	margin: 14px;
	overflow: hidden;
	position: relative;
	max-height: 786px;
	min-height: 650px;
}

.header::before{
	content: '';
	width: 53%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background: url(/images/square.png);
	background-position: top right;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.header::after{
	content: '';
	position: absolute;
	top: 27%;
	left: 48%;
	background: url(/images/taxi1.png);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 40%;
	max-width: 614px;
	height: 542px;
	pointer-events: none;
}

.logo_wrapper{
	display: flex;
	flex-direction: row;
	background-color: transparent;
	width: 100%;
	height: 92px;
}

.logo_container{
	height: 92px;
	padding-left: 32px;
	padding-right: 32px;
	align-items: center;
	display: flex;
}

.job_wrapper{
	width: 100%;
	height: 260px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.job_container{
	max-width: 962px;
    box-sizing: border-box;
    padding-left: 118px;
}

@font-face {
	font-family: 'YS Text'; 
	src: url(/fonts/YandexSansDisplay-Regular.ttf); 
}

.circled_number{
	font-size: 13px !important;
    line-height: 20px !important;
    display: inline-block;
    border-radius: 50%;
    color: #7A7A7A !important;
    border: 1px solid #CCC;
    cursor: pointer;
    text-align: center;
    width: 20px;
    height: 20px;
    position: relative;
    top: -25px;
    right: -10px;
}

.order_container{
	border-radius: 16px;
	display: flex;
	height: 59px;
	width: 266;
}

.order{
	margin-left: 118px;
	background-color: #FFC806;
	cursor: pointer;
	border: none;
	border-radius: 16px;
	text-align: center;
}

.order_text{
	font-family: 'YS Text';
	font-size: 26px;
	margin-left: 27.5px;
	margin-right: 27.5px;
	font-weight: 500;
}

.money_wrapper{
	width: 100%;
	height: 130px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.money_container{
	max-width: 962px;
    box-sizing: border-box;
    padding-left: 60%;
	margin-top: 50px;
}

.money_small_text{
	font-family: 'YS Text';
	width: 500px;
	font-size: 20px;
}

.money_large_text{
	font-family: 'YS Text';
	width: 500px;
	font-size: 72px;
	font-weight: 600;
}

.garage{
	width: calc(100% - 48px);
	background-color: #F5F4F2;
	height: 383.42px;
	border-radius: 40px;
	margin: 12px 24px 12px 24px;
	overflow: hidden;
	position: relative;
	background: #DCB186;
}

.garage::before{
	content: '';
	position: absolute;
    width: 530px;
    left: 53%;
    top: 0;
    height: 100%;
    background-image: linear-gradient(0deg, #FFDD1F, #FFDD1F);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-repeat: no-repeat;
    background-position: top left;
}

.garage::after{
	content: "";
    position: absolute;
    width: 100%;
    left: calc(53% + 528px);
    top: 0;
    height: 100%;
    background-color: #FFDD1F;
    background-position: top right;
}

.garage_container{
	max-width: 1128px;
    margin: 0 auto;
    padding: 40px 24px !important;
	height: 303.43px;
	position: relative;
    display: flex;
	flex-direction: column;
}

.garage_logo_wrapper{
	width: 100%;
	height: 38px;
	display: flex;
}

.garage_logo{
	height: 38px;
	width: 248px;
	background: url(/images/garage_logo.svg);
}

.car_order_wrapper{
	margin-top: 20px;
	width: 100%;
	height: 185.43px;
	display: flex;
	flex-direction: row;
}

.car_order_text{
	display: flex;
	flex-direction: column;
	max-width: 606px;
}

.big_car_order_text{
	font-size: 34px;
	font-family: 'YS Text';
	font-weight: 600;
}

.medium_car_order_text{
	font-size: 20px;
	font-family: 'YS Text';
	font-weight: bold;
	line-height: 20px;
}

.small_car_order_text{
	font-size: 20px;
	font-family: 'YS Text';
	line-height: 15px;
}

.car_order_image_container{
	width: 574.2px;
}

.car_order_button{
	background-color: #ffdd1f;
	cursor: pointer;
	border: none;
	border-radius: 16px;
	text-align: center;
	max-width: 359px;
	height: 56px;
	font-size: 20px;
	font-weight: 500;
}

.driver{
	width: 100%;
	height: 596px;
	display: flex;
}

.driver_wrapper{
	width: 942px;
	margin-left: 472px;
	margin-right: 472px;
	padding: 90px 17px 0 17px;
}

.driver_text{
	font-family: 'YS Text';
	font-size: 40px;
	font-weight: 600;
	word-spacing: 5px;
	margin-bottom: 24px;
}

.plates{
	display: flex;
	flex-direction: column;
}

.plates_1{
	display: flex;
	flex-direction: row;
}

.left_plate{
	width: 552.5px;
	height: 230px;
	margin-right: 12px;
	background-color: #F5F4F2;
	border-radius: 16px;
	background-image: url(/images/hand.png) !important;
	background-repeat: no-repeat !important;
	background-size: 197px !important;
	background-position: right 0 bottom 20px !important;
}

.panel_text{
	padding: 24px 24px 146px 24px;
	font-size: 24px;
	font-family: 'YS Text';
}

.right_plate{
	width: 377.5px;
	height: 230px;
	background-color: #21201F;
	border-radius: 16px;
	background-image: url(/images/money.png) !important;
	background-repeat: no-repeat !important;
	background-size: 217px !important;
	background-position: right 0 bottom 0 !important;
	color: #FFF;
}

.bottom_plate{
	width: 942px;
	height: 192px;
	background-color: #FFCB17;
	margin-top: 12px;
	border-radius: 16px;
	background-image: url(/images/list.png) !important;
	background-repeat: no-repeat !important;
	background-size: 172px !important;
	background-position: right 85px bottom 0 !important;
}

.money{
	width: 1872px;
	height: 618px;
	margin: 24px;
	background-image: url(/images/man.webp);
	border-radius: 24px;
    border: solid 1px #575757;
    overflow: hidden;
    position: relative;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.money::after{
	content: "";
    max-width: 72%;
    width: 72%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    background: -o-linear-gradient(left, rgba(14, 14, 14, 1) 0%, rgba(14, 14, 14, 0) 100%);
    background: linear-gradient(to right, rgba(14, 14, 14, 1) 0%, rgba(14, 14, 14, 0) 100%);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}

.money_text{
	padding: 0 244px 0 244px;
	width: 667px;
	height: 376px;
	z-index: 2;
}

.money_h1{
	font-family: 'YS Text';
	font-size: 60px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 60px;
}

.money_h2{
	padding-top: 24px;
	font-family: 'YS Text';
	font-size: 30px;
	font-weight: 600;
	color: #FFFFFF;
}

.money_h3{
	padding-top: 24px;
	font-family: 'YS Text';
	font-size: 22px;
	font-weight: 500;
	color: #FFFFFF;
}

.money_button{
	width: 328px;
	height: 81px;
	margin-top: 40px;
	border-radius: 24px;
	border: none;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.money_doc{
	background: url(/images/doc.svg);
	height: 32px;
	width: 32px;
	margin-right: 10px;
}

.money_btn_text{
	font-size: 20px;
	font-weight: 600;
	font-family: 'YS Text';
	color: #21201f;
}

.start{
	padding: 104px 17px 90px 17px;
	width:1886px;
	height: 304px;
}

.start_container{
	padding: 0 17px 0 17px;
	margin: 0 455px 0 455px;
}

.start_h1{
	color: #21201F;
    padding-bottom: 16px;
	font-family: 'YS Text';
	font-size: 40px;
	font-weight: 600;
	line-height: 60px;
}

.start_h2{
	color: #21201F;
	font-family: 'YS Text';
	font-size: 20px;
	padding-bottom: 56px;
}

.numbers {
    display: flex;
    position: relative;
    margin-top: 20px;
    text-align: left;
}
.number {
    text-align: left;
    position: relative;
}
.number::before {
    content: '';
    position: absolute;
    top: 25px; 
    left: -165px; 
    width: 155px; 
    height: 2px;
    background: repeating-linear-gradient(90deg, #000, #000 6px, transparent 6px, transparent 9.7px);
    transform: translateY(-50%);
	z-index: 1;
}
.number:first-child::before {
    display: none;
}
.number-text {
    font-size: 20px;
    font-weight: 500;
    color: #21201F;
    width: 230px;
    margin: 0 auto; 
    padding-top: 15px;
	font-family: 'YS Text';
}
.number-number {
    background-color: #21201F;
    color: #fff;
    border-radius: 30%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
	font-family: 'YS Text';
	font-weight: 600;
}

.offer{
	width: 1892px;
	height: 1105px;
	background-color: #F5F4F2;
	margin: 14px;
	border-radius: 16px;
}

.offer_container{
	width: 1892px;
	height: 955px;
	display: flex;
	position: relative;
	padding: 75px 0 75px 0;
	flex-direction: column;
}

.offer_heading{
	width: 100%;
	height: 64px;
}

.offer_h1{
	font-size: 40px;
	margin: 0 628px 0 628px;
	padding: 0 17px 16px 17px;
	font-family: 'YS Text';
	font-weight: 600;
}

.offer_survey{
	width: 636px;
	height: 887px;
	margin: 0 628px 0 628px;
}

.survey_form{
	padding: 0;
}

label{
	margin-left: 17px;
	font-family: 'YS Text';
	font-weight: 100;
	font-size: 12px;
	color: #575757;
}

input{
	margin-left: 17px;
	margin-top: 10px;
	width: 574px;
	padding: 5px 12px 5px 12px;
	border: 1px solid #CCC;
	border-radius: 8px;
	font-family: 'YS Text';
	font-size: 20px;
	font-weight: 500;
}

.form_button{
	height: 59px;
	width: 602px;
	margin-left: 17px;
	margin-top: 32px;
	background-color: #FFC806;
	border: none;
	border-radius: 14px;
	font-family: 'YS Text';
	font-weight: 500;
	font-size: 25px;
}

.promo{
	width: 1128px;
	height: 397px;
	background-color: #FFC806;
	margin: 0 396px 0 396px;
	border-radius: 40px;
	display: flex;
	position: relative;
}

.promo_wrapper{
	height: 100%;
	width: 1128px;
}

.fuck1{
	position: absolute;
	top: 64px;
    right: 10px;
    z-index: 2;
}

.fuck2{
	position: absolute;
	top: 184px;
    right: 314px;
    z-index: 2;
}

.phone{
	position: absolute;
	top: 80px;
    right: 50px;
    z-index: 1;
}

.promo_h1{
	font-size: 40px;
	margin-left: 30px;
	margin-top: 50px;
	padding: 0 17px 16px 17px;
	font-family: 'YS Text';
	font-weight: 600;
}

.promo_h2{
	padding: 0 17px 16px 17px;
	font-size: 20px;
	margin-left: 30px;
	margin-top: 17px;
	font-family: 'YS Text';
	font-weight: 500;
}

.promo_button{
	width: 266px;
	height: 59px;
	font-size: 25px;
	font-weight: 500;
	margin-left: 47px;
	margin-top: 20px;
	border: none;
	border-radius: 16px;
}

.app{
	width: 1896px;
	height: 734px;
	margin: 40px 12px 104px 12px;
	background-color: #21201F;
	border-radius: 16px;
	position: relative;
}

.app::before{
	content: "";
	top: 0;
	display: block;
	position: absolute;
	background: #21201F;
	background: linear-gradient(157deg, #343434 53.81%, rgba(52, 52, 52, 0.50) 87.97%);
	background: linear-gradient(157deg, rgba(52, 52, 52, 0.00) 53.81%, rgba(52, 52, 52, 0.50) 87.97%);
	height: calc(100% - 112px);
	width: 100%;
	border-radius: 48px 48px 0 0;
}

.app_wrapper{
	width: 928px;
	height: 630px;
	margin: 72px 484px 0 484px;
	display: flex;
}

.app_text_container{
	padding-top: 36px;
	width: 528px;
	height: 469px;
}

.app_logo_container{
	width: 100%;
	height: 128px;
}